@font-face {
  font-family: "ficons";
  src: url(../src/ficons/fonts/ficons.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

[class^="ficon-"],
[class*=" ficon-"],
.ficon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "ficons" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ficon-menu:before {
  content: "\e9c2";
}

.ficon-user1:before {
  content: "\ea2a";
}

.ficon-plus1:before {
  content: "\e9e6";
}

.ficon-trash1:before {
  content: "\ea1a";
}

.ficon-edit:before {
  content: "\e985";
}

.ficon-upload:before {
  content: "\ea28";
}

.ficon-tick:before {
  content: "\e609";
}

.ficon-close-2:before {
  content: "\e601";
}

.ficon-chevrons-left:before {
  content: "\e95d";
}

.ficon-plus-circle:before {
  content: "\e9e7";
}
/*Global Variables*/
:root {
  --bg-red: #ff0000;
  --bg-blue: #002672;
  --bg-fade: rgba(0, 0, 0, 0.1);
  --site-header: 58px;
  --accent-color: #0056b3;
}

* {
  scrollbar-width: thin;
  /*scroll-behavior: smooth;*/ /* commented because there is a problem with JS in schedule */
}
*::-webkit-scrollbar {
  width: inherit;
}

html {
  font-size: 13px;
}

body {
  position: relative;
  line-height: normal;
  -webkit-tap-highlight-color: transparent;
  font-family: "Lato", sans-serif;
  color: #222;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  background: linear-gradient(90deg, #d7d5dd, #eee 30%, #eee 70%, #d7d5dd);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  position: relative;
  line-height: normal;
  -webkit-tap-highlight-color: transparent;
  font-family: "Lato", sans-serif;
  color: #222;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  background-color: #fff;
  background-color: #f0f0f0;
}

/** Common **/

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--accent-color);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: normal;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.75rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
}

a {
  color: #61dafb;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Basic styles */

.f-box,
.hbox,
.vbox,
.cbox {
  display: flex;
}

.hbox {
  -webkit-box-orient: inline-axis;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
}

.vbox {
  -webkit-box-orient: block-axis;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}

.cbox {
  -webkit-align-items: center;
  -webkit-justify-content: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.endbox {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 100%;
}

.endbox_nw {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.topbox {
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.bottombox {
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.startbox {
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.vcbox {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.self-end {
  -webkit-align-self: flex-end;
  -ms-align-self: flex-end;
  align-self: flex-end;
}

.flex-wrap {
  -webkit-align-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-item {
  flex: 1 1 auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mt-30 {
  margin-top: 30px;
}

.mr-10 {
  margin-right: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.ml-10 {
  margin-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.text-justify {
  text-align: justify;
}

video {
  width: 100%;
  height: auto;
}

.site-header {
  background-image: linear-gradient(0deg, var(--bg-fade) 0, transparent 76%),
    linear-gradient(
      to right,
      var(--bg-blue) 0,
      var(--bg-blue) 53px,
      var(--bg-red) 53px,
      var(--bg-red) 100%
    );
  background-origin: content-box;
  background-repeat: no-repeat;
  height: var(--site-header);
}

/* Logo */

.logo {
  line-height: 0;
}

.img-logo {
  width: 140px;
}

.img-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 45px;
  padding: 8px;
  background: none;
  border: none;
  font-size: 2rem;
  white-space: normal;
}

.site-header .img-btn {
  color: #fff;
}

.menu-dropdown {
  position: absolute;
  top: 58px;
  right: 0;
  width: 100%;
  max-width: 320px;
  background-color: #f4f4f4;
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  font-size: 1.3846rem;
  display: none;
  z-index: 1;
}

.menu-dropdown.visible {
  display: block;
}

.menu-dropdown li {
  padding: 10px 18px;
  border-bottom: 1px solid #ccc;
}

.menu-dropdown li:last-child {
  border-bottom: none;
}

.container {
  margin-top: 30px;
  padding: 0 15px;
  height: calc(100vh - var(--site-header) - 30px);
  background: #fff;
}

.page-title {
  /*border-bottom: 1px solid #dcdcdc;*/
  margin-bottom: 18px;
  padding-top: 10px;
  padding-bottom: 14px;
  display: block;
  width: 100%;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.84rem;
}

/* Category List */

.items-list {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 230px);
}

.items-list li {
  padding: 5px 0;
  border-bottom: 1px solid #dcdcdc;
}

.item-title {
  font-size: 1.2308rem;
}

.items-list .img-btn {
  color: inherit;
  font-size: 1.2rem;
}

.item-desc {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 300px;
}

/* Buttons */

.main-btn {
  background: #b6b5b5;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.main-btn:hover {
  background-color: var(--accent-color);
}

.main-btn.primary {
  background-color: var(--accent-color);
}

/* Ctrl-form */

.ctrl-form .row {
  margin-bottom: 16px;
  display: flex;
  width: 100%;
  align-items: center;
}

.ctrl-form .row:last-child {
  margin-bottom: 0;
}

.ctrl-form .row.topbox {
  align-items: flex-start;
}

.ctrl-form .col {
  width: 100px;
  flex: 1 1 auto;
}

.ctrl-form .col:last-child {
  margin-right: 0;
}

.ctrl-form input,
.ctrl-form .select-wrap {
  width: 100%;
  padding: 0.9rem;
}

.ctrl-form input::placeholder,
.ctrl-form textarea::placeholder,
.upload-img label {
  color: #888;
  font-family: "Lato";
  font-size: 1.2rem;
}

.ctrl-form .select-wrap {
  border: 1px solid #767676;
  box-sizing: border-box;
}

.ctrl-form select {
  width: 100%;
  border: none;
}

.ctrl-form .ctrl-checkbox {
  width: auto;
  width: 16px;
  height: 16px;
}

.ctrl-form .row.gap-5 {
  gap: 5px;
}

.ctrl-form textarea {
  width: 100%;
  min-height: 50px;
  padding: 0.9rem;
}

.ctrl-form .btn-wrap {
  gap: 20px;
}

.ctrl-form .upload-img {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid #767676;
  padding-left: 0.9rem;
  box-sizing: border-box;
}

.upload-img .img-btn {
  color: inherit;
}

.groupbox {
  border-top: 1px solid #ccc;
  padding: 20px 0.9rem;
  position: relative;
  margin-bottom: 30px;
}

.groupbox-title {
  font-size: 16px;
  background: #fff;
  position: absolute;
  top: -12px;
  padding: 0 5px;
}

.upload-img-list {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.img-thumb {
  display: flex;
  flex: 1 1 auto;
  align-items: flex-start;
  gap: 2px;
  margin-right: 5px;
}

.img-thumb img {
  width: 100px;
}

/* Login page */

.login-page .wrapper {
  height: calc(100vh - var(--site-header));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -58px;
}

.login-page .ctrl-form {
  padding: 2.3077rem 0.9rem;
  background-color: #fff;
  width: 300px;
}

/* Home page */

.news-list {
  margin-top: 30px;
  height: calc(100vh - (var(--site-header) + 30px));
}

.news-list .news {
  background: #fff;
  padding: 15px 20px;
  margin-bottom: 10px;
}

.news img {
  width: 150px;
  height: max-content;
}

.news-content {
  overflow: hidden;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  margin-top: 5px;
}

.link-btn {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  font-family: "Lato";
  color: var(--accent-color);
  padding: 10px 0;
}

.link-btn .ficon {
  display: inline-block;
  padding-right: 5px;
}

/* News */

.news-image-list li {
  line-height: 0;
  margin-bottom: 10px;
}

.news-image-list img {
  width: 100%;
}