@font-face {
  font-family: "ficons";
  src: url(../src/ficons/fonts/ficons.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

[class^="ficon-"],
[class*=" ficon-"],
.ficon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "ficons" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*Global Variables*/
:root {
  --bg-red: #ff0000;
  --bg-blue: #002672;
  --bg-fade: rgba(0, 0, 0, 0.1);
}

* {
  scrollbar-width: thin;
  /*scroll-behavior: smooth;*/ /* commented because there is a problem with JS in schedule */
}
*::-webkit-scrollbar {
  width: inherit;
}

html {
  font-size: 13px;
}

body {
  position: relative;
  line-height: normal;
  -webkit-tap-highlight-color: transparent;
  font-family: "Lato", sans-serif;
  color: #222;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  background: linear-gradient(90deg, #d7d5dd, #eee 30%, #eee 70%, #d7d5dd);
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  line-height: normal;
  -webkit-tap-highlight-color: transparent;
  font-family: "Lato", sans-serif;
  color: #222;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  background-color: #fff;
  background-color: #f0f0f0;
}

/** Common **/

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--accent-color);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: normal;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.75rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

.site-header {
  background-image: linear-gradient(0deg, var(--bg-fade) 0, transparent 76%),
    linear-gradient(
      to right,
      var(--bg-blue) 0,
      var(--bg-blue) 53px,
      var(--bg-red) 53px,
      var(--bg-red) 100%
    );
  background-origin: content-box;
  background-repeat: no-repeat;
  height: 58px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
}

a {
  color: #61dafb;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
